ul li{
    list-style-type: none;
}
.gallery{
    margin: 25px 0px 0px 0px;
    height: 455px;
    background-color: white;
    border-radius: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.gallery .row, .gallery .row .col-6{
    padding: 0;
    margin: 0;
}

.gallery .gallery-img{
    cursor: grab;
}